{% extends "layout.html" %}

{% block title %}
    Credits
{% endblock %}

{% block main %}
    <div class="image-credits">
        <h1 class="credits-title">Image Credits</h1>
        <div class="credits-section">
            <div style="display: inline-block; margin-right: 20px">
                <a href="https://www.wikimedia.org" style="text-decoration: none"><h3 class="credits-subtitle">Wikimedia.org</h3></a>
                <ul>
                    <li><a href="/circuits">Circuits</a> - All track layouts</li>
                    <li><a href="/">Homepage</a> - Seasons Photo</li>
                    <li><a href="/seasons">Seasons</a> - All constructor's logo</li>
                </ul>
            </div>
            <div style="display: inline-block; margin-right: 20px">
                <a href="https://www.goodwood.com" style="text-decoration: none"><h3 class="credits-subtitle">Goodwood.com</h3></a>
                <ul>
                    <li><a href="/">Homepage</a> - Constructors Photo</li>
                </ul>
            </div>
            <div style="display: inline-block; margin-right: 20px">
                <a href="https://maxvelocity.events" style="text-decoration: none"><h3 class="credits-subtitle">Max Velocity Events</h3></a>
                <ul>
                    <li><a href="/">Homepage</a> - Circuits Photo</li>
                </ul>
            </div>
            <div style="display: inline-block; margin-right: 20px">
                <a href="https://gettyimages.com" style="text-decoration: none"><h3 class="credits-subtitle">Getty Images</h3></a>
                <ul>
                    <li><a href="/">Homepage</a> - Drivers Photo</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}